.topbar {
  display: none;
}

@media (min-width: 1024px) {
  .topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 10px;
    border-block-end: 1px solid var(--white-alpha-20);
    z-index: 4;
    transition: 0.25s ease;
  }

  .topbar.active {
    background-color: var(--white);
    border-color: var(--black-alpha-5);
  }

  .topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
} 