.close-btn{
    color: var(--white);
    border: 1px solid currentColor;
    padding: 4px;
    border-radius: var(--radius-circle);
    margin-inline-start: auto;               
    margin-block: 30px 20px;             
}

.close-btn:is(:hover, :focus-visible){
    color: var(--gold-crayola);
}

