.grid-list {
  display: grid;
  gap: 25px;
}

@media (min-width: 768px) {
  .grid-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .grid-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
} 