.feature-card {
  height: 100%;
  padding: 30px 20px;
  text-align: center;
  background-color: var(--black);
  transition: var(--transition-2);
}

.feature-card:hover {
  background-color: var(--gold-crayola);
  transform: translateY(-5px);
}

.feature-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 20px;
}

.feature-card .card-title {
  margin-block-end: 10px;
}

.feature-card:hover :is(.card-title, .card-text) {
  color: var(--black);
}

@media (min-width: 1024px) {
  .feature-card {
    padding-block: 40px;
  }
} 