.event .section-title{ margin-block-end: 40px; }

.event .btn{
    margin-inline: auto;
    margin-block-start: 40px;
}  

@media (min-width: 575px){
    .event .container{
        max-width: 420px;
        margin-inline: auto;
    }
}