.menu-card{
    display: flex;
    align-items: flex-start;
    gap: 20px; 
}

.hover\:card .card-banner{ 
    background-color: var(--gold-crayola);
}

.hover\:card .card-banner .img-cover{
    transition: var(--transition-2);
} 

.hover\:card:is(:hover, :focus-within) .card-banner .img-cover{
    opacity: 0.8;
    transform: scale(1.05);
}

.menu-card .card-banner{
    flex-shrink: 0;
    border-radius: var(--radius-24); 
}

.menu-card .card-title{ transition: var(--transition-1);}

.menu-card .card-title:is(:hover, :focus-visible){
    color: var(--gold-crayola);
}

.menu-card .badge{
    background-color: var(--gold-crayola);
    color: var(--eerie-black-1);
    max-width: max-content;
    line-height: var(--lineHeight-6);
    text-transform: uppercase;
    padding-inline: 10px;
    margin-block-start: 10px;  
}

.menu-card .span{
    color: var(--gold-crayola);
    margin-block: 10px; 
}

.menu-card .card-text{
    color: var(--quick-silver);
    line-height: var(--lineHeight-4);
} 


/* border: 2px solid red; */