.special-dish-content{ padding-block: 70px; }

.special-dish-content .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-block-end: 40px;
}

.special-dish-content .del{
    text-decoration: line-through;
    color: var(--davys-grey); 
}

.special-dish-content .span{ color: var(--gold-crayola);}

@media (min-width: 992px){
    .special-dish-content{ 
        padding-inline: 50px 25px;
    }
    
    .special-dish-content .container{
        position: relative;
    }

    .special-dish-content .wrapper{
        justify-content: flex-start;
    }
}

@media (min-width: 1200px){
    .special-dish-content{
        padding: 225px 120px;
        padding-inline-end: 0;
    }

    .special-dish-content .container{
        max-width: 460px;
        margin-inline: 0;
    }
}
