.event-card{
    position: relative;
    overflow: hidden;
    max-width: max-content;
    width: 100%;
    margin-inline: auto;
}

.event-card .card-content{
    background-image: var(--gradient-1);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 35px 35px 25px; 
}

.event-card .publisher-date{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    color: var(--gold-crayola);
    background-color: var(--black);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letterSpacing-1);
    line-height: 14px;
}

.event-card .card-subtitle{
    color: var(--gold-crayola);
    text-transform: uppercase;
    font-weight: var(--weight-bold);
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 5px;
}

.event-card .card-banner .img-cover{
    transition: var(--transition-2);
}

.event-card:is(:hover, :focus-within) .img-cover{
    transform: scale(1.05);
}

.event .grid-list {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: flex-start; /* 垂直顶部对齐 */
    gap: 20px; /* 项目之间的间距 */
    flex-wrap: nowrap; /* 禁止换行 */
    padding: 20px;
}