/*-----------------*\
    #TYPOGRAPHY
\*-----------------*/

.headline-1{
    color: var(--white);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
    font-size: var(--fontSize-body-1);
    font-size: var(--fontSize-headline-1);
}

.body-1{
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
}

.body-4{ font-size: var(--fontSize-body-4);}

/*-----------------*\
    #REUSED STYLE
\*-----------------*/

.contact-label{ font-weight: var(--weight-bold);}

.contact-number{
    color: var(--gold-crayola);
    max-width: max-content; 
    margin-inline: auto;  
}

.hover-underline{
    position: relative;   
    max-width: max-content;
}

.hover-underline::after{
    content: "";
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 5px;
    border-block: 1px solid var(--gold-crayola); 
    transform: scaleX(0.2);  
    opacity: 0;
    transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::after{
    transform: scaleX(1);
    opacity: 1;
}

.contact-number::after{ bottom: -5px;}

.text-center{ text-align: center;}

/*----------------------*\
    #NAVBAR INFO STYLES
\*----------------------*/

.navbar-title{ margin-block-end: 15px;}

.navbar-text{ margin-block: 10px;}

.body-4{ color: var(--quick-silver);} 

.sidebar-link{ transition: var(--transition-1);}

.sidebar-link:is(:hover, :focus-visible){ 
    color: var(--gold-crayola);
}

.text-center .separator-navbar-info{
    margin-block: 30px;
    margin-inline: auto;
}

.contact-label{ margin-block-end: 10px;}






