.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.section-subtitle{
    position: relative;
    color: var(--gold-crayola);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-2);
    margin-block-end: 12px;
}

.section-subtitle::after{
    content: url(../../../public/separator.svg);
    display: block; 
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
}

.slider-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    padding-block-start: 100px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-3);
    z-index: 1; 
}

.slider-item.active{
    opacity: 1;
    visibility: visible;
}

.slider-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.15);     
    pointer-events: none;
    user-select: none;          
    z-index: -1; 
}

.slider-item.active .slider-bg{
    animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
    0%{ transform: scale(1);}
    100%{ transform: scale(1.15);}
}

.section-subtitle::after{
    margin-block: 14px 20px;
}

.hero-text{ margin-block: 10px 40px;}

.slider-reveal{
    transform: translateY(30px);
    opacity: 0;
}

.slider-item.active .slider-reveal{
    animation: sliderReveal 2.5s ease forwards;
}

@keyframes sliderReveal {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.slider-item.active .section-subtitle{
    animation-delay: 500ms;
}

.slider-item.active .hero-title{
    animation-delay: 1000ms;
}

.slider-item.active .hero-text{
    animation-delay: 1.5s;
}

.slider-item.active .btn{
    animation-delay: 2s;
}
