.topbar {
    display: none;
}

.container {
    padding-inline: 16px;
}

@media (min-width: 575px) {
    .topbar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-block: 10px;
        border-block-end: 1px solid var(--white-alpha-20);
        z-index: 4;
        transition: var(--transition-1);
    }

    .topbar:has(~ .header.active) {
        transform: translateY(-100%);
    }

    .topbar .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap; /* 确保在小屏幕下换行 */
    }

    .topbar-item {
        display: flex;
        align-items: center;
        gap: 8px; /* 图标和文字之间的间距 */
        color: var(--white);
        font-size: var(--fontSize-label-1);
        text-decoration: none;
    }

    .topbar-item .ion-icon {
        font-size: 16px; /* 图标大小 */
        flex-shrink: 0; /* 防止图标缩小 */
    }

    .topbar-item span {
        font-size: var(--fontSize-label-1);
        white-space: nowrap; /* 防止文字换行 */
    }

    .topbar .link {
        transition: var(--transition-1);
    }

    .topbar .link:is(:hover, :focus-visible) {
        color: var(--gold-crayola);
    }
}

@media (min-width: 992px) {
    .topbar .item-2 {
        margin-inline-end: auto; /* 将特定项推到右侧 */
    }
}

@media (min-width: 1200px) {
    .topbar .container {
        max-width: unset;
    }

    .topbar .separator {
        display: block;
    }
}