.navbar-list{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px){
    .navbar-list{
        margin-inline: 30px;  
    }
}

@media (min-width: 1200px){
    .navbar-list{
        display: flex;
        gap: 30px;
    }
}