.hero-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
  background: var(--primary-color);
  border-radius: var(--radius-8);
  color: var(--white);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  transition: var(--transition-1);
}

.hero-btn:is(:hover, :focus) {
  background: var(--white);
  color: var(--primary-color);
}

.hero-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--primary-color);
  border-radius: inherit;
  transition: var(--transition-1);
}

.hero-btn:is(:hover, :focus)::after {
  inset: -5px;
}

.hero-btn .img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .hero-btn {
    padding: 20px 40px;
  }
} 