/* 针对电话图标和超链接的样式 */
.topbar-item.link .ion-icon {
    color: white;
}

.topbar-item.link .description-link {
    color: white;
    text-decoration: none;
}

.topbar-item.link .description-link:hover,
.topbar-item.link .description-link:focus-visible {
    text-decoration: underline;
}