.has-before{
    position: relative;
    z-index: 1;
}

.has-before::before{
    content: "";
    position: absolute;
} 

.hover\:shine{ position: relative;}

.hover\:shine::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%); 
    transform: skewX(-0.08turn) translateX(-100%);
}

.hover\:shine:is(:hover, :focus-visible)::after{
    transform: skewX(-0.08turn) translateX(275%);
    transition: var(--transition-3);
}

.img-holder{
    aspect-ratio: var(--width) / var(--height); 
    overflow: hidden;
    background-color: var(--eerie-black-4);
}

.btn-text{
    color: var(--gold-crayola);
    padding-block-end: 4px;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-3);
    font-weight: var(--weight-bold);
    transition: var(--transition-1);
}

.btn-text:is(:hover, :focus-visible){
    color: var(--white);
}

.service-card{
    /* agregados width y height: y margin-inline: auto; */
    width: max-content;
    height: max-content;
    overflow: hidden;
    margin-inline: auto;
}

.service-card .has-before{
    padding-block: 30px;
    margin-block-end: 26px;
    z-index: 1;
}

.service-card .has-before::before{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px; 
    height: 100%;
    background-image: url(../../../public/img-pattern.svg);
    background-position: center; 
    background-size: cover;      
    background-repeat: repeat;   
    transition: var(--transition-2);
    transition-delay: 0;
    z-index: -1;
    will-change: transform;      
}

.service-card:is(:hover, :focus-visible) .has-before::before{
    transform: rotateY(0.5turn) translateX(50%); 
    transition-delay: 300ms;  
}

.service-card .card-banner{ transition: var(--transition-2);}


.service-card:is(:hover, :focus-visible) .card-banner{
    transform: scale(1.05);
}

.service-card .card-title{ margin-block-end: 12px;}