.container{ padding-inline: 16px; }

.section{
    position: relative;
    padding-block: var(--section-space);
    overflow: hidden;
    z-index: 1; 
}

.text-center{ text-align: center; }

.about .section-text{ margin-block: 15px 30px;}

.about .btn{
    margin-inline: auto;
    margin-block-start: 26px;
}

.about .container{
    display: grid;
    gap: 120px;
}

.about .abs-img{ position: absolute;}

.about .abs-img::before{ z-index: -1;}

.about .abs-img-1{
    bottom: -120px;
    left: 0;
    width: 150px;
    padding-block: 50px;
}

.about .abs-img-2{
    top: -65px;
    right: 0;
    overflow: hidden;
}

.about .abs-img-1::before{
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    background-image: url(../../public/img-pattern.svg);
    background-repeat: repeat;
}


.about .abs-img-2::before{
    inset: 0;
    background-image: url(../../public/badge-2-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotate360 15s linear infinite;
}

@media (min-width: 575px){
    .about .section-text{
        max-width: 420px;
        margin-inline: auto; 
    }

    .about .container{ gap: 80px; }

    .about .abs-img-1{ width: 285px; }

    .about .contact-number{ --fontSize-body-1: 2.4rem; }
}

@media (min-width: 992px){
    .about .container{
        grid-template-columns: 0.7fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 1200px){
    .about{ 
        padding-block: 170px 100px;
    }
}

@media (min-width: 1400px){
    .about-content{ 
        padding-inline-end: 90px;
    }
    
    .about .shape{
        display: block;
        top: 46%;
        left: 0;
    }
}

