.menu .section-title{ margin-block-end: 40px; }

.menu .grid-list{ margin-block-end: 50px; }

.menu-text .span{
    display: inline-block;
    color: var(--gold-crayola); 
}

.menu .btn{
    margin-inline: auto;
    margin-block-start: 26px; 
}

.menu .shape{
    display: block;
    width: 70%; 
}

.menu .shape-2{
    top: 0;
    left: 0;
}

.menu .shape-3{
    bottom: 0;
    right: 0;
} 

.move-anim{ animation: move 5s linear infinite;}

@keyframes move{
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(30px);}
}

@media (min-width:575px){
    .menu-card .title-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
    
    .menu-card .badge{ margin-block-start: 0; }
    
    .menu-card .span{
        flex-grow: 1;   
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative; 
    }
    
    .menu-card .span::before{
        content: "";
        height: 6px;
        flex-grow: 1;
        border-block-end: 1px solid var(--white-alpha-20);
    }
}

@media (min-width:992px){
    .menu .grid-list{
        position: relative;
        column-gap: 90px;
    }

    .menu .grid-list::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        border-inline-start: 1px solid var(--white-alpha-20); 
    }
}

@media (min-width:1200px){
    .menu .grid-list{
        gap: 55px 200px;
        margin-block-end: 55px; 
    }    
}




